.cabecalho {
  display: flex;
  background-color: var(--branco);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cabecalho__menu-hamburguer {
  display: inline-block;
  width: 48px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem 1rem;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
  background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~.container__rotulo {
  background-color: var(--azul-degrade);
}

.container__titulo,
.opcoes,
.opcoes-menu,
.container__texto,
.container__botao {
  display: none;
}

.container__cabecalho {
  display: flex;
  align-items: center;
  /* padding: 16px 24px; */
}

.container__img {
  padding: 0 1rem;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 70vw;
  text-align: start;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1rem;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  text-transform: uppercase;
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Versão Desktop 1024px */

@media screen and (min-width: 1024px) {

  .cabecalho {
    padding: 0 2rem;
  }

  .cabecalho__menu-hamburguer,
  .opcoes__botao,
  .container__img--ocultar {
    display: none;
  }

  .container__titulo {
    display: inline-block;
    font-family: var(--fonte-titulo);
    font-size: 30px;
    padding-left: 1rem;
    text-align: center;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    text-align: center;
  }

  .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
    color: var(--branco);
    background: var(--azul-degrade);
  }

  .opcoes__botao:checked~.lista-menu {
    display: block;
    width: auto;
    left: auto;
  }

  .opcoes__item {
    padding: 2rem 1rem;
    color: var(--preto);
    text-transform: uppercase;
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }
  
  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
  }
}

@media screen and (min-width: 1728px) {

  .cabecalho {
    padding: 0 1rem;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__link {
    display: flex;
    align-items: center;
  }

  .container__texto {
    display: block;
    font-size: 20px;
    margin-left: .4rem;
  }

}